@tailwind base;
@tailwind components;
@tailwind utilities; 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #ececec; /* เปลี่ยนเป็นสีที่คุณต้องการ */
}

.btn-custom {
  background-color: transparent; /* พื้นหลังโปร่งใส */
  border: 1px solid black; /* ขอบสีดำ */
  color: black; /* สีตัวอักษร */
  padding: 8px 15px; /* ระยะห่างภายในปุ่ม */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  text-decoration: none; /* ไม่มีการขีดเส้นใต้ */
  display: inline-block; /* แสดงเป็นบล็อกแบบอินไลน์ */
  font-size: 16px; /* ขนาดตัวอักษร */
  margin: 4px 2px; /* ระยะห่างภายนอกปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
  border-radius: 24px; /* ขอบโค้งมน */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* เพิ่มการเปลี่ยนสีพื้นหลังเมื่อ hover */
}

.btn-custom:hover {
  background-color: rgb(0, 0, 0); /* สีพื้นหลังเมื่อ hover */
  color: rgb(255, 255, 255);
}

.btn-search {
  background-color: black;
  border: 1px solid black; /* ขอบสีดำ */
  color: white; /* สีตัวอักษร */
  padding: 8px 15px; /* ระยะห่างภายในปุ่ม */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  text-decoration: none; /* ไม่มีการขีดเส้นใต้ */
  display: inline-block; /* แสดงเป็นบล็อกแบบอินไลน์ */
  font-size: 16px; /* ขนาดตัวอักษร */
  margin: 4px 2px; /* ระยะห่างภายนอกปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
  border-radius: 24px; /* ขอบโค้งมน */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* เพิ่มการเปลี่ยนสีพื้นหลังเมื่อ hover */
}

.btn-search:hover {
  background-color: transparent; /* สีพื้นหลังเมื่อ hover */
  color: rgb(0, 0, 0);
}

.circular-image {
  width: 170px; /* กำหนดความกว้างของภาพ */
  height: 170px; /* กำหนดความสูงของภาพ */
  border-radius: 50%; /* ทำให้ภาพเป็นวงกลม */
  object-fit: cover; /* ทำให้ภาพครอบคลุมพื้นที่ทั้งหมด */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้กับภาพ */
}

.btn-accept {
  background-color: rgb(68, 186, 94);
  color: white; /* สีตัวอักษร */
  padding: 7px 12px; /* ระยะห่างภายในปุ่ม */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  text-decoration: none; /* ไม่มีการขีดเส้นใต้ */
  display: inline-block; /* แสดงเป็นบล็อกแบบอินไลน์ */
  font-size: 16px; /* ขนาดตัวอักษร */
  margin: 4px 2px; /* ระยะห่างภายนอกปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
  border-radius: 24px; /* ขอบโค้งมน */
  border: 1px solid white;
  transition: background-color 0.3s; /* เพิ่มการเปลี่ยนสีพื้นหลังเมื่อ hover */
}

.btn-accept:hover {
  background-color: transparent; /* สีพื้นหลังเมื่อ hover */
  color: rgb(68, 186, 94);
  border: 1px solid rgb(68, 186, 94);
}

.btn-reject {
  background-color: rgb(236, 63, 63);
  color: white; /* สีตัวอักษร */
  padding: 7px 12px; /* ระยะห่างภายในปุ่ม */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  text-decoration: none; /* ไม่มีการขีดเส้นใต้ */
  display: inline-block; /* แสดงเป็นบล็อกแบบอินไลน์ */
  font-size: 16px; /* ขนาดตัวอักษร */
  margin: 4px 2px; /* ระยะห่างภายนอกปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
  border-radius: 24px; /* ขอบโค้งมน */
  border: 1px solid white;
  transition: background-color 0.3s; /* เพิ่มการเปลี่ยนสีพื้นหลังเมื่อ hover */
}

.btn-reject:hover {
  background-color: transparent; /* สีพื้นหลังเมื่อ hover */
  color: rgb(236, 63, 63);
  border: 1px solid rgb(236, 63, 63); 
}

.btn-reqort {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0); /* สีตัวอักษร */
  padding: 8px 12px; /* ระยะห่างภายในปุ่ม */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  text-decoration: none; /* ไม่มีการขีดเส้นใต้ */
  display: inline-block; /* แสดงเป็นบล็อกแบบอินไลน์ */
  font-size: 16px; /* ขนาดตัวอักษร */
  margin: 4px 2px; /* ระยะห่างภายนอกปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
  border-radius: 23px; /* ขอบโค้งมน */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* เพิ่มการเปลี่ยนสีพื้นหลังเมื่อ hover */
}

.btn-report:hover {
  background-color: transparent; /* สีพื้นหลังเมื่อ hover */
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255); 
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input[type="checkbox"]:checked {
  background-color: #000000;
  border-color: #000000;
}

/* ตกแต่ง scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* ความกว้างของ scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000; /* สีของ scrollbar */
  border-radius: 10px; /* ขอบโค้ง */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d6d6d6; /* สีเมื่อ hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* พื้นหลังของ scrollbar */
}

/* สำหรับ Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* ความกว้างของ scrollbar */
  scrollbar-color: #000000 transparent; /* สีของ scrollbar และพื้นหลัง */
}